<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>CMSC335 Pokedex</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
            background-color: #f8f8f8;
        }
        h1 {
            text-align: center;
            color: #333;
        }
        form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        fieldset {
            border: none;
            margin-bottom: 20px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"],
        input[type="reset"],
        input[type="submit"] {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        input[type="reset"],
        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }
        input[type="reset"]:hover,
        input[type="submit"]:hover {
            background-color: #0056b3;
        }
        a {
            display: block;
            text-align: center;
            margin-top: 20px;
            text-decoration: none;
            color: #007bff;
        }
        hr {
            border: none;
            border-top: 1px solid #ccc;
            margin: 20px 0;
        }
    </style>
</head>
<body>
    <h1>Select a Pokémon!</h1>
    <form action="./pokemonConfirmation" method="post">
        <fieldset>
            <label><b>Pokémon:</b></label>
            <input type="text" name="pkmn" placeholder="Enter Pokémon name"/>
        </fieldset>
        <input type="reset" value="Reset"/>
        <input type="submit" value="Submit"/>
    </form>
    <hr>
    <a href="/">HOME</a>
    <hr>
</body>
</html>
